#!/bin/bash

# Variables
path="/opt/gemini/"
location="/opt/gemini/app.py"
user_to_run="geminiuser"  # replace with a dedicated non-root username
service_name="gemini"
service_path="/etc/systemd/system/${service_name}.service"

# Create systemd service file
cat > "$service_path" << EOF
[Unit]
Description=Streamlit Application
After=network.target

[Service]
Type=simple
User=$user_to_run
# Set PATH to include the virtual environment's bin directory
Environment="PATH=/opt/gemini/venv/bin:$PATH"
ExecStart=/opt/gemini/venv/bin/streamlit run /opt/gemini/app.py
WorkingDirectory=/opt/gemini/
Restart=always

[Install]
WantedBy=multi-user.target
EOF

# Reload systemd, enable and start the service
systemctl daemon-reload
systemctl enable gemini.service
